body {
    background-color: white;
    border: 0px;
}

h1 {
    color: darkslategray;
}

p {
    line-height: 1.8;
}

.mySlides {
    display: none;
}

.center {
    text-align: center;
}

.content {
    display: block;
    width: 100%;
    height: auto;
    /*background-color: lightgrey;
    width: 100%;
    border: 15px;
    padding: 50px;
    margin: 20px; */
}